@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
body{
    font-family: 'Archivo Narrow', sans-serif;
}
h1{
    margin:0;
    padding:0;
    font-family: 'Kalam', Times, serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}
 .grid-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    width: 50%;
} 
 .text-box{
    line-height: 2;
    max-width: 100%;
    }
main img {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
  }

main p{
    padding-bottom: 0.7rem;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .grid-container {
        width: 100%;
        display: block;
        gap:1rem;
    }
  }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.text-box p {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s; /* Adjust delay as needed */
}

.text-box p:nth-child(3) {
    animation-delay: 1.5s;
}

.text-box p:nth-child(4) {
    animation-delay: 2s;
}

/* Animation for the image box, initially hidden */
.image-box {
    opacity: 0;
}

/* Animation class for the image box */
.image-fade-in {
    animation: fadeIn 1s forwards;
}