form{
    display: flex;
    flex-direction: column;
    max-width: 20rem; 
    margin: 0 auto; 
}
form>*{
    margin-bottom: 0.2rem;
}
input[type="email"],
input[type="text"],
textarea {
    width: 100%; 
    background-color: var(--main-color);
    color:var(--main-color-lightest);
    border:none;
    border-radius: 5px;
    padding:0.3rem 0.5rem;
    font-size: 1rem;
}
textarea{
    resize: none;
}

legend{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--header-font);
}
::placeholder{
   
    font-size: 0.8rem;
    font-style: italic;
}
.item{
    padding-bottom: 0.5rem;
}

main button{
    border:none;
    border-radius:5px;
    background-color: var(--main-color);
    color:var(--main-color-lightest);
    font-size:1.2rem;
    padding:0.3rem 2rem;
    font-weight: 500;
    font-family: var(--header-font);
    }

main button:hover{
    cursor: pointer;
    color:var(--accent-color);
    font-weight: 700;
}

main button,
::placeholder,
label,
input[type="email"],
input[type="text"],
textarea{
    font-family: Helvetica, sans-serif;
}