:root{
    --main-color:#4A4E69;
    --secondary-color:#F2E9E4;
    --darker-main-color:#22223B;
    --darker-secondary-color:#C9ADA7;
    --third-color:#9A8C98;
  }
main{
    background-color: var(--secondary-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    padding: 2.5rem 5rem;
    grid-auto-rows: auto;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.title {
    font-style: italic;
    color: var(--main-color);
}