:root{
    --main-color:#4A4E69;
    --secondary-color:#F2E9E4;
    --darker-main-color:#22223B;
    --darker-secondary-color:#C9ADA7;
    --third-color:#9A8C98;
  }
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
    text-align: center;
    font:inherit;
}

img {
    display: block;
    height:500px;
    width: auto;
    border-radius: 3px; 
    object-fit:scale-down;
}

a{
    text-decoration: none;
    color:var(--main-color);
    font-style: italic;
}

/* Media query for iOS devices */
@media only screen 
  and (max-device-width: 414px) /* iPhone 12 and below width */
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
  img{
    height: 300px;
  }
    }

@media only screen 
  and (max-device-width: 896px) /* iPhone 12 Pro Max width */
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    img{
        width: 350px;
    }
}
.caption{
    display: none;
}
.mobile-caption {
    display: block;
}

.title{
    display: none;
}

