@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font:inherit;
}
main img {
    display: block;
    max-width:100%;
    max-height: 35rem;
    height: auto;
    border-radius: 5px; 
    box-shadow: 0 0 10px black;
    object-fit:scale-down;
}

main a{
    color:var(--main-color);
    font-style: italic;
}

main .caption{
    display: none;
}
.mobile-caption {
    display: block;
    margin-top:0.5rem;
}

main .title{
    display: none;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
main .image-container {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}
