@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*

  /* PAGE STYLE */
  :root{
    --main-color:#4A4E69;
    --secondary-color:#F2E9E4;
    --darker-main-color:#22223B;
    --darker-secondary-color:#C9ADA7;
    --third-color:#9A8C98;
  }
  main{
    background-color: var(--secondary-color);
}
  body{
    font-family: 'Archivo Narrow';
    font-size: 1rem;
  }
  header{
    background-color:var(--main-color);
    position:relative;
    color:var(--secondary-color);
    display: flex;
    padding:1rem 6rem; 
    gap:3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo a{
    text-decoration: none;
    color:inherit;
  }
  header .logo{
    font-size: 2.6rem;
    font-family:'Aladin', sans-serif ;
    position: relative;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
    transform: rotate(-6deg);
  }

  .logo:hover{
    transform: scale(0.95); /* Scale down slightly on hover */
    color:var(--darker-secondary-color);
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:1.3rem;
  }

  .language-switch{
    position:absolute;
    right:2rem;
    border:none;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding:0.2rem 0.4rem;
  }
  .language-switch:hover{
    background-color: var(--darker-secondary-color);
    color:var(--darker-main-color);
    cursor: pointer;
  }
  .language-switch a{
    text-decoration: none;
    color:inherit;
  }

  li a {
    text-decoration: none;
    color:inherit;
    font-weight: 500;
    font-size: 1.3rem;
    transition: transform 0.3s ease;
  }
  li a:hover{
    color:var(--darker-secondary-color);
    text-shadow: 1px var(--darker-secondary-color);
    cursor:pointer;
    transform: scale(1.05);
  }

  li a:active{
    color:var(--darker-secondary-color);
    font-weight: bold;
  }
  

  /* CSS for mobile devices */
@media screen and (max-width: 768px) {
    header {
      padding: 1rem;
      flex-direction: column;
      gap:0.5rem;
    }
    .logo{
        font-size:2rem;
    }
    ul {
      gap: 1rem; 
    }
    ul a {
      font-size: 1.2rem; 
    }
    #language-switch { 
      right:1rem;
      top:2rem;
    }
  }