@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  a{
    text-decoration: none;
    color:inherit;
  }
  /* PAGE STYLE */

:root{
  --main-color:rgb(71, 1, 5);
  --main-color-light:#457b9d;
  --main-color-lighter:#ffffff;
  --main-color-lightest:#8bfd5e;
  --accent-color:#ffe100;
  --accent-color-2:#ffb657;
  --white:white;
  --heading-font:'Platypi',sans-serif;

  }
body, html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body{
  background-color: var(--main-color-lighter);
  font-size: 1rem;
  position: relative;
}
main{
  flex:1;
  padding:2rem;
}
a{
  text-decoration: none;
}
header{
  background-color:var(--main-color);
  position:relative;
  color:var(--main-color-lightest);
  padding:1rem 6rem; 
  font-family: var(--heading-font),sans-serif,Times;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3rem;
}
header .logo a{
  color:var(--accent-color-2);
  padding:0.5rem;
}
header .logo{
  font-size: 2.7rem;
  font-family:'Aladin', sans-serif ;
  position: relative;
  transition: transform 0.3s ease; 
  transform: rotate(-6deg);
}

header .logo:hover{
  transform: scale(0.95);
  cursor: pointer;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap:1.5rem;
}
header .language-switch{
  position:absolute;
  right:2rem;
  border:none;
  background-color: var(--main-color-lighter);
  color:var(--main-color);
  border-radius: 1rem;
  padding:0.2rem 0.4rem;
  font-family: var(--heading-font),sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.language-switch:hover{
  background-color: var(--accent-color);
  font-weight: 700;
  cursor: pointer;
}

header li a {
  color:inherit;
  font-size: 1.5rem;
  font-style: normal;
  padding:0.3rem;
}

li a:hover{
  color:var(--accent-color);
  cursor:pointer;
  font-weight: 500;
}

header .current-page{
  color: var(--accent-color);
  font-weight: 600;
}

footer{
  width: 100%;
  box-shadow: 0 0 5px black;
  background-color: var(--main-color);
  color:var(--main-color-lightest);
  padding:1rem;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}
footer a:hover{
color:var(--accent-color-2);
}


  /* CSS for mobile devices */
@media screen and (max-width: 768px) {
  header {
    padding: 1rem;
    flex-direction: column;
    gap:0.5rem;
  }
  .logo{
    font-size:2rem;
  }
  ul {
    gap: 1rem; 
  }
  ul a {
    font-size: 1rem; 
  }
  header li a{
    font-size: 1rem;
  }
  header .language-switch{
    top:2rem;
  }
 }
